@model Ekinci.CMS.Business.Models.Requests.AccountRequests.UpdateProfileRequest
<div class="flex-column" id="kt_wrapper">
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div class="post d-flex flex-column-fluid" id="kt_post">
            <div id="kt_content_container" class="container-xxl">
                <div class="card mb-5 mb-xl-10 col-12">
                    <div class="card-header border-0">
                        <div class="card-title m-0">
                            <h3 class="fw-bolder m-0">@_localizer["MyUserInformation"]</h3>
                        </div>
                    </div>
                    <form class="form" method="post" asp-action="UpdateProfile" enctype="multipart/form-data">
                        <div class="card-body border-top p-9">
                            <div class="row mb-6">
                                <label class="col-lg-4 col-form-label required fw-bold fs-6">@_localizer["ProfilePhoto"]</label>
                                <div class="col-lg-8">
                                    <div class="image-input image-input-outline" data-kt-image-input="true">
                                        <div id="backgroundPhoto" class="image-input-wrapper w-125px h-125px bgi-position-center" style="background-size: 75%;
                            background-image: url('@(Model.ProfilePhotoUrl)')"></div>
                                        <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="@_localizer["Update"]">
                                            <i class="bi bi-pencil-fill fs-7"></i>
                                            <input type="file" name="ProfilePhotoUrl" accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="avatar_remove" />
                                        </label>
                                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="@_localizer["Cancel"]">
                                            <i class="bi bi-x fs-2"></i>
                                        </span>
                                    </div>
                                    <div class="form-text">@_localizer["UploadImageHelpText"]</div>
                                </div>
                            </div>
                            <div class="row mb-6">
                                <label class="col-lg-4 col-form-label fw-bold fs-6 required">@_localizer["FullName"]</label>
                                <div class="col-lg-8">
                                    <div class="row">
                                        <div class="col-lg-6 fv-row">
                                            <input type="text" asp-for="Firstname" class="form-control form-control-lg form-control-solid" placeholder="Adı" />
                                            <span class="fv-plugins-message-container invalid-feedback" asp-validation-for="Firstname"></span>
                                        </div>
                                        <div class="col-lg-6 fv-row">
                                            <input type="text" asp-for="Lastname" class="form-control form-control-lg form-control-solid" placeholder="Soyadı" />
                                            <span class="fv-plugins-message-container invalid-feedback" asp-validation-for="Lastname"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-6">
                                <label class="col-lg-4 col-form-label fw-bold fs-6 required">@_localizer["EMail"]</label>
                                <div class="col-lg-8 fv-row">
                                    <input type="text" asp-for="Email" class="form-control form-control-lg form-control-solid emailaddress" placeholder="eposta@adresi.com" />
                                    <span class="fv-plugins-message-container invalid-feedback" asp-validation-for="Email"></span>
                                </div>
                            </div>
                            <div class="row mb-6">
                                <label class="col-lg-4 col-form-label fw-bold fs-6 required">@_localizer["MobilePhone"]</label>
                                <div class="col-lg-8 fv-row">
                                    <input type="tel" asp-for="MobilePhone" class="form-control form-control-lg form-control-solid phonenumber" placeholder="+90 (532) 333 44 55" />
                                    <span class="fv-plugins-message-container invalid-feedback" asp-validation-for="MobilePhone"></span>
                                    <div class="form-text">@_localizer["PhoneNumberRule"]</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-end py-6 px-9">
                            <button type="submit" class="btn btn-primary me-2">@_localizer["Save"]</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>