@using Ekinci.CMS.Business.Extensions;
@{
}
<div id="kt_aside" class="aside" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_mobile_toggle">
    <div id="kt_aside" class="aside" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_mobile_toggle">
        <div class="aside-toolbar flex-column-auto" id="kt_aside_toolbar">

            <div class="aside-user d-flex align-items-sm-center justify-content-center py-5">
                <div class="aside-user-info flex-row-fluid flex-wrap ms-5">
                    <div class="d-flex">
                        <div class="flex-grow-1 me-2">
                            <a href="#" class="text-white text-Bşhover-primary fs-6 fw-bold">EKİNCİ</a>
                            <span class="text-gray-600 fw-bold d-block fs-8 mb-1"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="aside-search py-5">
                <div id="kt_header_search" class="d-flex align-items-center w-100" data-kt-search-keypress="true" data-kt-search-min-length="2" data-kt-search-enter="enter" data-kt-search-layout="menu" data-kt-search-responsive="false" data-kt-menu-trigger="auto" data-kt-menu-permanent="true" data-kt-menu-placement="bottom-start">
                    <form data-kt-search-element="form" class="w-100 position-relative" autocomplete="off">
                        <input type="hidden" />
                        <span class="svg-icon svg-icon-2 search-icon position-absolute top-50 translate-middle-y ms-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="black" />
                                <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="black" />
                            </svg>
                        </span>
                        <input type="text" class="search-input form-control ps-13 fs-7 h-40px" name="search" value="" placeholder="Arama..." data-kt-search-element="input" />
                        <span class="position-absolute top-50 end-0 translate-middle-y lh-0 d-none me-5" data-kt-search-element="spinner">
                            <span class="spinner-border h-15px w-15px align-middle text-gray-400"></span>
                        </span>
                        <span class="btn btn-flush btn-active-color-primary position-absolute top-50 end-0 translate-middle-y lh-0 d-none me-4" data-kt-search-element="clear">
                            <span class="svg-icon svg-icon-2 svg-icon-lg-1 me-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black" />
                                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black" />
                                </svg>
                            </span>
                        </span>
                    </form>
                </div>
            </div>
        </div>

        <div class="aside-menu flex-column-fluid">
            <div class="hover-scroll-overlay-y px-2 my-5 my-lg-5" id="kt_aside_menu_wrapper" data-kt-scroll="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="{default: '#kt_aside_toolbar, #kt_aside_footer', lg: '#kt_header, #kt_aside_toolbar, #kt_aside_footer'}" data-kt-scroll-wrappers="#kt_aside_menu" data-kt-scroll-offset="5px">
                <div class="menu menu-column menu-title-gray-800 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500" id="#kt_aside_menu" data-kt-menu="true">
                    <div class="menu-item">
                        <a class="menu-link" href="@Url.Action("Index","Home")">
                            <span class="menu-icon">
                                <span class="svg-icon svg-icon-2">
                                    <i class="fa-solid fa-house-chimney"></i>
                                </span>
                            </span>
                            <span class="menu-title">ANA SAYFA</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a class="menu-link" href="@Url.Action("MyProfile","Account")">
                            <span class="menu-icon">
                                <span class="svg-icon svg-icon-2">
                                    <i class="fa-sharp fa-solid fa-person"></i>
                                </span>
                            </span>
                            <span class="menu-title">Bilgilerim</span>
                        </a>
                    </div>

                    <div class="menu-item">
                        <div class="menu-content pt-8 pb-2">
                            <span class="menu-section text-muted text-uppercase fs-8 ls-1">KURUMSAL</span>
                        </div>
                    </div>

                    <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                        <span class="menu-link">
                            <span class="menu-icon">
                                <span class="svg-icon svg-icon-2">
                                    <i class="fa-solid fa-flask fa-lg"></i>
                                </span>
                            </span>
                            <span class="menu-title">KURUMSAL</span>
                            <span class="menu-arrow"></span>
                        </span>
                        <div class="menu-sub menu-sub-accordion">
                            <div class="menu-item ">
                                <a class="menu-link @Html.ActiveClass("Intro", "Index")" href="@Url.Action("Index","Intro")">
                                    <span class="menu-bullet">
                                        <span class="bullet bullet-dot"></span>
                                    </span>
                                    <span class="menu-title">Biz Kimiz?</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a class="menu-link @Html.ActiveClass("History", "Index")" href="@Url.Action("Index","History")">
                                    <span class="menu-bullet">
                                        <span class="bullet bullet-dot"></span>
                                    </span>
                                    <span class="menu-title">Tarihçe</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a class="menu-link @Html.ActiveClass("Sustainability", "Index")" href="@Url.Action("Index","Sustainability")">
                                    <span class="menu-bullet">
                                        <span class="bullet bullet-dot"></span>
                                    </span>
                                    <span class="menu-title">Sürdürülebilirlik</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a class="menu-link @Html.ActiveClass("HumanResource", "Index")" href="@Url.Action("Index","HumanResource")">
                                    <span class="menu-bullet">
                                        <span class="bullet bullet-dot"></span>
                                    </span>
                                    <span class="menu-title">İnsan Kaynakları</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a class="menu-link @Html.ActiveClass("Kvkk", "Index")" href="@Url.Action("Index","Kvkk")">
                                    <span class="menu-bullet">
                                        <span class="bullet bullet-dot"></span>
                                    </span>
                                    <span class="menu-title">Kvkk</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                        <span class="menu-link">
                            <span class="menu-icon">
                                <span class="svg-icon svg-icon-2">
                                    <i class="fa-solid fa-diagram-project fa-lg"></i>
                                </span>
                            </span>
                            <span class="menu-title">Projeler</span>
                            <span class="menu-arrow"></span>
                        </span>
                        <div class="menu-sub menu-sub-accordion menu-active-bg">
                            <div class="menu-item">
                                <a class="menu-link @Html.ActiveClass("Project", "Index")" href="@Url.Action("Index","Project")">
                                    <span class="menu-bullet">
                                        <span class="bullet bullet-dot"></span>
                                    </span>
                                    <span class="menu-title">Projeler</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                        <span class="menu-link">
                            <span class="menu-icon">
                                <span class="svg-icon svg-icon-2">
                                    <i class="fa-solid fa-chart-area fa-lg"></i>
                                </span>
                            </span>
                            <span class="menu-title">Ticari Alanlar</span>
                            <span class="menu-arrow"></span>
                        </span>
                        <div class="menu-sub menu-sub-accordion menu-active-bg">
                            <div class="menu-item">
                                <a class="menu-link @Html.ActiveClass("CommercialArea", "Index")" href="@Url.Action("Index","CommercialArea")">
                                    <span class="menu-bullet">
                                        <span class="bullet bullet-dot"></span>
                                    </span>
                                    <span class="menu-title">Ticari Alanlar</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                        <span class="menu-link">
                            <span class="menu-icon">
                                <span class="svg-icon svg-icon-2">
                                    <i class="fa-brands fa-medium fa-lg"></i>
                                </span>
                            </span>
                            <span class="menu-title">MEDYA MERKEZİ</span>
                            <span class="menu-arrow"></span>
                        </span>
                        <div class="menu-sub menu-sub-accordion menu-active-bg">
                            <div class="menu-item">
                                <a class="menu-link @Html.ActiveClass("Announcement", "Index")" href="@Url.Action("Index","Announcement")">
                                    <span class="menu-bullet">
                                        <span class="bullet bullet-dot"></span>
                                    </span>
                                    <span class="menu-title">Haberler Duyurular</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a class="menu-link @Html.ActiveClass("Blog", "Index")" href="@Url.Action("Index","Blog")">
                                    <span class="menu-bullet">
                                        <span class="bullet bullet-dot"></span>
                                    </span>
                                    <span class="menu-title">Blog</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a class="menu-link @Html.ActiveClass("Press", "Index")" href="@Url.Action("Index","Press")">
                                    <span class="menu-bullet">
                                        <span class="bullet bullet-dot"></span>
                                    </span>
                                    <span class="menu-title">Basında Ekinci</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a class="menu-link @Html.ActiveClass("IdentityGuide", "Index")" href="@Url.Action("Index","IdentityGuide")">
                                    <span class="menu-bullet">
                                        <span class="bullet bullet-dot"></span>
                                    </span>
                                    <span class="menu-title">Kurumsal Kimlik Rehberi</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a class="menu-link @Html.ActiveClass("Video", "Index")" href="@Url.Action("Index","Video")">
                                    <span class="menu-bullet">
                                        <span class="bullet bullet-dot"></span>
                                    </span>
                                    <span class="menu-title">Videolar</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                        <span class="menu-link">
                            <span class="menu-icon">
                                <span class="svg-icon svg-icon-2">
                                    <i class="fa-solid fa-address-book fa-lg"></i>
                                </span>
                            </span>
                            <span class="menu-title">İletişim</span>
                            <span class="menu-arrow"></span>
                        </span>
                        <div class="menu-sub menu-sub-accordion menu-active-bg">
                            <div class="menu-item">
                                <a class="menu-link @Html.ActiveClass("Contact", "Index")" href="@Url.Action("Index","Contact")">
                                    <span class="menu-bullet">
                                        <span class="bullet bullet-dot"></span>
                                    </span>
                                    <span class="menu-title">İletişim</span>
                                </a>
                            </div>
                        </div>
                        <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                            <span class="menu-link">
                                <span class="menu-icon">
                                    <span class="svg-icon svg-icon-2">
                                        <i class="fa-solid fa-address-book fa-lg"></i>
                                    </span>
                                </span>
                                <span class="menu-title">Teknik Servis</span>
                                <span class="menu-arrow"></span>
                            </span>
                            <div class="menu-sub menu-sub-accordion menu-active-bg">
                                <div class="menu-item">
                                    <a class="menu-link @Html.ActiveClass("TechnicalServiceDemand", "Index")" href="@Url.Action("Index","TechnicalServiceDemand")">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                                        <span class="menu-title">Teknik Servis İstekleri</span>
                                    </a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>