@model Ekinci.CMS.Business.Models.Responses.SustainabilityResponses.GetSustainabilityResponse

<div class="flex-column" id="kt_wrapper">
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div class="post d-flex flex-column-fluid" id="kt_post">
            <div id="kt_content_container" class="container-xxl">
                <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
                    <div class="cursor-pointer">
                        <div class="card-header">
                            <h3 class="card-title">@_localizer["SustainabilityTitle"]</h3>
                            @if (Model != null)
                            {
                                <div class="card-toolbar">
                                    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary me-2">@_localizer["Edit"]</a>
                                </div>
                            }
                            else
                            {
                                <div class="card-toolbar">
                                    <a asp-action="Create" class="btn btn-primary me-2">@_localizer["Create"]</a>
                                </div>
                            }
                        </div>
                    </div>
                    @if (Model != null)
                    {
                        <div class="card-body p-9">
                            <div class="row mb-7">
                                <label class="col-lg-4 fw-bold text-muted">@_localizer["PhotoUrl"]</label>
                                <div class="col-lg-8">
                                    <img src="@Model.PhotoUrl" alt="image" width="200" />
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-9">
                            <div class="row mb-7">
                                <label class="col-lg-4 fw-bold text-muted">@_localizer["Title"]</label>
                                <div class="col-lg-8">
                                    <span class="fw-bolder fs-6 text-gray-800">@Model.Title</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-9">
                            <div class="row mb-7">
                                <label class="col-lg-4 fw-bold text-muted">@_localizer["Description"]</label>
                                <div class="col-lg-8">
                                    <span class="fw-bolder fs-6 text-gray-800">@Model.Description</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>