@model Ekinci.CMS.Business.Models.Responses.ProjectResponses.GetProjectResponse
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery antiforgery
@{
    var tokenSet = antiforgery.GetAndStoreTokens(Context);
}
<div class=" flex-column " id="kt_wrapper">
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div class="post d-flex flex-column-fluid" id="kt_post">
            <div id="kt_content_container" class="container-xxl">
                <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div class="card shadow-sm">
                            <div class="card-header">
                                <h3 class="card-title">Proje</h3>
                                <div class="card-toolbar">
                                    <input type="submit" class="btn btn-success btn-hover-rotate-end" value="OLUŞTUR">&nbsp;
                                    <a href="@Url.Action("Index","Project")" class="btn btn-danger btn-hover-rotate-start">GERİ DÖN</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="row mb-6">
                                        <label class="col-lg-2 col-form-label fw-bold fs-6">@_localizer["ThumbUrl"]</label>
                                        <div class="col-lg-10">
                                            <div class="image-input image-input-outline" data-kt-image-input="true">
                                                <div class="image-input-wrapper w-300px h-300px"></div>
                                                <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Yükle">
                                                    <i class="bi bi-pencil-fill fs-7"></i>
                                                    <input type="file" name="PhotoUrl" accept=".png, .jpg, .jpeg" />
                                                </label>
                                            </div>
                                            <div class="form-text">İzin verilen: png, jpg, jpeg.</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-5">
                                        <label asp-for="StatusID" class="control-label">@_localizer["StatusID"]</label>
                                        <div class="input-group form-group mb-5">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa-solid fa-check-double"></i>
                                            </span>
                                            <select asp-for="StatusID" class="form-control" asp-items="ViewBag.StatusID" selected></select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-5">
                                        <label class="control-label">@_localizer["Title"]</label>
                                        <div class="input-group form-group mb-5">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa-solid fa-align-justify"></i>
                                            </span>
                                            <input asp-for="Title" class="form-control" />
                                            <span asp-validation-for="Title" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-5">
                                        <label class="control-label">@_localizer["SubTitle"]</label>
                                        <div class="input-group form-group mb-5">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa-solid fa-align-justify"></i>
                                            </span>
                                            <input asp-for="SubTitle" class="form-control" />
                                            <span asp-validation-for="SubTitle" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-5">
                                        <label class="control-label">@_localizer["Description"]</label>
                                        <div class="input-group form-group mb-5">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa-solid fa-align-justify"></i>
                                            </span>
                                            <input asp-for="Description" class="form-control" />
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-5">
                                        <label class="control-label">@_localizer["ProjectDate"]</label>
                                        <div class="input-group form-group mb-5">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa-solid fa-align-justify"></i>
                                            </span>
                                            <input asp-for="ProjectDate" class="form-control" />
                                            <span asp-validation-for="ProjectDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-5">
                                        <label class="control-label">@_localizer["DeliveryDate"]</label>
                                        <div class="input-group form-group mb-5">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa-solid fa-align-justify"></i>
                                            </span>
                                            <input asp-for="DeliveryDate" class="form-control" />
                                            <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-5">
                                        <label class="control-label">@_localizer["ApartmentCount"]</label>
                                        <div class="input-group form-group mb-5">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa-solid fa-align-justify"></i>
                                            </span>
                                            <input asp-for="ApartmentCount" class="form-control" />
                                            <span asp-validation-for="ApartmentCount" class="text-danger"></span>
                                        </div>
                                    </div>                
                                    <div class="col-md-12 mb-5">
                                        <label class="control-label">@_localizer["SquareMeter"]</label>
                                        <div class="input-group form-group mb-5">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa-solid fa-align-justify"></i>
                                            </span>
                                            <input asp-for="SquareMeter" class="form-control" />
                                            <span asp-validation-for="SquareMeter" class="text-danger"></span>
                                        </div>
                                    </div>             
                                    <div class="col-md-12 mb-5">
                                        <label class="control-label">@_localizer["Longitude"]</label>
                                        <div class="input-group form-group mb-5">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa-solid fa-align-justify"></i>
                                            </span>
                                            <input asp-for="Longitude" class="form-control" />
                                            <span asp-validation-for="Longitude" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-5">
                                        <label class="control-label">@_localizer["Latitude"]</label>
                                        <div class="input-group form-group mb-5">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa-solid fa-align-justify"></i>
                                            </span>
                                            <input asp-for="Latitude" class="form-control" />
                                            <span asp-validation-for="Latitude" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-group mb-5">
                                        <div class="col-md-10">
                                            <p>@_localizer["Photos"]</p>
                                            <input type="file" name="PhotoUrls" multiple>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        function VeriSil(ID, obj) {
            var btn = $(obj);
            Swal.fire({
                title: 'SİLME İŞLEMİ',
                text: "Silmek istediğinize emin misiniz?",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#50cd89',
                cancelButtonColor: '#f1416c',
                confirmButtonText: 'Evet Sil!',
                cancelButtonText: 'Hayır Silme!',
                showClass: {
                    popup: 'animate_animated animate_fadeInDown'
                },
                hideClass: {
                    popup: 'animate_animated animate_fadeOutUp'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        method: 'POST',
                        url: '@Url.Action("DeletePhoto", "Project")',
                        headers: { '@tokenSet.HeaderName': '@tokenSet.RequestToken' },
                        data: { id: ID }
                    }).done(function (d) {
                        const result = $.parseJSON(d);
                        if (result.IsSuccess == true) {
                            Swal.fire({
                                title: 'SİLİNDİ',
                                icon: 'success',
                                text: `${result.Message}`,
                                showClass: {
                                    popup: 'animate_animated animate_fadeInDown'
                                },
                                hideClass: {
                                    popup: 'animate_animated animate_fadeOutUp'
                                }
                            });
                            btn.parent().parent().fadeOut(1000);
                        }
                    }).fail(function () {
                        Swal.fire({
                            title: 'HATALI İŞLEM',
                            text: "Veri silinemedi",
                            icon: 'error',
                            showClass: {
                                popup: 'animate_animated animate_fadeInDown'
                            },
                            hideClass: {
                                popup: 'animate_animated animate_fadeOutUp'
                            }
                        })
                    })
                }
            });
        }
    </script>
}
