@model Ekinci.CMS.Business.Models.Requests.VideosRequests.AddVideosRequest


<div class="flex-column" id="kt_wrapper">
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div class="post d-flex flex-column-fluid" id="kt_post">
            <div id="kt_content_container" class="container-xxl">
                <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div class="card shadow-sm">
                            <div class="card-header">
                                <h3 class="card-title">Video</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="row mb-6">
                                        <label class="col-lg-4 col-form-label fw-bold fs-6">@_localizer["PhotoUrl"]</label>
                                        <div class="col-lg-8">
                                            <div class="image-input image-input-outline" data-kt-image-input="true">
                                                <div class="image-input-wrapper w-125px h-125px"></div>
                                                <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Yükle">
                                                    <i class="bi bi-pencil-fill fs-7"></i>
                                                    <input type="file" name="PhotoUrl" accept=".png, .jpg, .jpeg" />
                                                </label>
                                            </div>
                                            <div class="form-text">@_localizer["UploadImageHelpText"]</div>
                                            <span class="fv-plugins-message-container invalid-feedback" asp-validation-for="PhotoUrl"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-5">
                                        <label class="control-label">@_localizer["VideoUrl"]</label>
                                        <div class="input-group form-group mb-5">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa-solid fa-align-justify"></i>
                                            </span>
                                            <input asp-for="VideoUrl" class="form-control" />
                                            <span class="fv-plugins-message-container invalid-feedback" asp-validation-for="VideoUrl"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-5">
                                        <label class="control-label">@_localizer["Title"]</label>
                                        <div class="input-group form-group mb-5">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa-solid fa-align-justify"></i>
                                            </span>
                                            <input asp-for="Title" class="form-control" />
                                            <span class="fv-plugins-message-container invalid-feedback" asp-validation-for="Title"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-5">
                                        <label class="control-label">@_localizer["Description"]</label>
                                        <div class="input-group form-group mb-5">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa-solid fa-align-justify"></i>
                                            </span>
                                            <input asp-for="Description" class="form-control" />
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-end py-6 px-9">
                                <button type="submit" class="btn btn-primary me-2">@_localizer["Save"]</button>
                                <a href="/Video/Index" class="btn btn-light btn-light-primary">@_localizer["TurnBack"]</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}