@model Ekinci.CMS.Business.Models.Responses.AnnouncementResponses.GetAnnouncementResponse
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery antiforgery
@{
    var tokenSet = antiforgery.GetAndStoreTokens(Context);
}
<div class=" flex-column " id="kt_wrapper">
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div class="post d-flex flex-column-fluid" id="kt_post">
            <div id="kt_content_container" class="container-xxl">
                <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
                    <form asp-action="Edit" enctype="multipart/form-data">
                        <div class="card shadow-sm">
                            <div class="card-header">
                                <h3 class="card-title">@_localizer["AnnouncementTitle"]</h3>
                                <div class="card-toolbar">
                                    <input type="submit" class="btn btn-success btn-hover-rotate-end" value="@_localizer["Update"]">&nbsp;
                                    <a href="@Url.Action("Index","Announcement")" class="btn btn-danger btn-hover-rotate-start">@_localizer["TurnBack"]</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="row mb-6">
                                        <label class="col-lg-4 col-form-label fw-bold fs-6">@_localizer["ThumbUrl"]</label>
                                        <div class="col-lg-8">
                                            <div class="image-input image-input-outline" data-kt-image-input="true">
                                                <div class="image-input-wrapper w-125px h-125px" style="background-image:url(@Model.ThumbUrl)"></div>
                                                <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Yükle">
                                                    <i class="bi bi-pencil-fill fs-7"></i>
                                                    <input type="file" name="PhotoUrl" accept=".png, .jpg, .jpeg" />
                                                </label>
                                            </div>
                                            <div class="form-text">İzin verilen: png, jpg, jpeg.</div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-5">
                                        <label class="control-label">@_localizer["Title"]</label>
                                        <div class="input-group form-group mb-5">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa-solid fa-align-justify"></i>
                                            </span>
                                            <input asp-for="Title" class="form-control" />
                                            <span asp-validation-for="Title" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-5">
                                        <label class="control-label">@_localizer["Description"]</label>
                                        <div class="input-group form-group mb-5">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa-solid fa-align-justify"></i>
                                            </span>
                                            <input asp-for="Description" class="form-control" />
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-5">
                                        <label class="control-label">@_localizer["Date"]</label>
                                        <div class="input-group form-group mb-5">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa-solid fa-align-justify"></i>
                                            </span>
                                            <input asp-for="AnnouncementDate" class="form-control" />
                                            <span asp-validation-for="AnnouncementDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-group mb-5">
                                        <div class="col-md-10">
                                            <p>@_localizer["UploadPhotos"] </p>
                                            <input type="file" name="PhotoUrls" multiple>
                                        </div>
                                    </div>
                                    <div class="card-body p-9">
                                        <div class="row mb-7">
                                            <div class="row">
                                                <div class="table-responsive">
                                                    <table class="table align-middle table-row-dashed fs-6 gy-5 table-responsive" id="kt_customers_table">
                                                        <thead>
                                                            <tr class="text-start text-gray-400 fw-bolder fs-7 gs-0">
                                                                <th class="min-w-125px">@_localizer["Photos"]</th>
                                                                <th class="text-end min-w-70px"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in Model.AnnouncementPhotos)
                                                            {
                                                            <tr>
                                                                <td><img src="@item.PhotoUrl" alt="image" width="100" /></td>
                                                                    <td style="text-align:end"><a onclick="VeriSil(@item.ID,this)" class="btn btn-danger btn-hover-rotate-end">Kaldır</a></td>
                                                            </tr>
                                                            }

                                                        </tbody>
                                                        </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        function VeriSil(ID, obj) {
            var btn = $(obj);
            Swal.fire({
                title: 'SİLME İŞLEMİ',
                text: "Silmek istediğinize emin misiniz?",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#50cd89',
                cancelButtonColor: '#f1416c',
                confirmButtonText: 'Evet Sil!',
                cancelButtonText: 'Hayır Silme!',
                showClass: {
                    popup: 'animate_animated animate_fadeInDown'
                },
                hideClass: {
                    popup: 'animate_animated animate_fadeOutUp'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        method: 'POST',
                        url: '@Url.Action("DeletePhoto", "Announcement")',
                        headers: { '@tokenSet.HeaderName': '@tokenSet.RequestToken' },
                        data: { id: ID }
                    }).done(function (d) {
                        const result = $.parseJSON(d);
                        if (result.IsSuccess == true) {
                            Swal.fire({
                                title: 'SİLİNDİ',
                                icon: 'success',
                                text: `${result.Message}`,
                                showClass: {
                                    popup: 'animate_animated animate_fadeInDown'
                                },
                                hideClass: {
                                    popup: 'animate_animated animate_fadeOutUp'
                                }
                            });
                            btn.parent().parent().fadeOut(1000);
                        }
                    }).fail(function () {
                        Swal.fire({
                            title: 'HATALI İŞLEM',
                            text: "Veri silinemedi",
                            icon: 'error',
                            showClass: {
                                popup: 'animate_animated animate_fadeInDown'
                            },
                            hideClass: {
                                popup: 'animate_animated animate_fadeOutUp'
                            }
                        })
                    })
                }
            });
        }
    </script>
}
