@model Ekinci.CMS.Business.Models.Responses.ContactResponses.GetContactResponse

<div class=" flex-column " id="kt_wrapper">
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div class="post d-flex flex-column-fluid" id="kt_post">
            <div id="kt_content_container" class="container-xxl">
                <div class="card mb-5 mb-xl-8" id="kt_profile_details_view">
                    <div class="cursor-pointer">
                        <div class="card-header">
                            <h3 class="card-title">İLETİŞİM</h3>
                            <div class="card-toolbar">
                                <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-success align-self-center">DÜZENLE</a>&nbsp;
                                <a href="@Url.Action("Index","Contact")" class="btn btn-danger btn-hover-rotate-start">GERİ DÖN</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-9">
                        <div class="row">
                            <label class="col-lg-2 fw-bold text-muted">@_localizer["Title"]</label>
                            <div class="col-lg-8">
                                <span class="fw-bolder fs-6 text-gray-800">@Model.Title</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-9">
                        <div class="row">
                            <label class="col-lg-2 fw-bold text-muted">@_localizer["Location"]</label>
                            <div class="col-lg-8">
                                <span class="fw-bolder fs-6 text-gray-800">@Model.Location</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-9">
                        <div class="row ">
                            <label class="col-lg-2 fw-bold text-muted">@_localizer["MobilePhonee"]</label>
                            <div class="col-lg-8">
                                <span class="fw-bolder fs-6 text-gray-800">@Model.MobilePhone</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-9">
                        <div class="row mb-2">
                            <label class="col-lg-2 fw-bold text-muted">@_localizer["LandPhone"]</label>
                            <div class="col-lg-8">
                                <span class="fw-bolder fs-6 text-gray-800">@Model.LandPhone</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-9">
                        <div class="row mb-2">
                            <label class="col-lg-2 fw-bold text-muted">@_localizer["Email"]</label>
                            <div class="col-lg-8">
                                <span class="fw-bolder fs-6 text-gray-800">@Model.Email</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-9">
                        <div class="row mb-2">
                            <label class="col-lg-2 fw-bold text-muted">Konum Bilgileri</label>
                            <div class="col-lg-8">
                                <span class="fw-bolder fs-6 text-gray-800">@Model.Latitude - @Model.Longitude</span>
                            </div>
                        </div>
                    </div>
  
                    <div class="card-body p-9">
                        <div class="row mb-2">
                            <label class="col-lg-2 fw-bold text-muted">@_localizer["InstagramUrl"]</label>
                            <div class="col-lg-8">
                                <span class="fw-bolder fs-6 text-gray-800">@Model.InstagramUrl</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-9">
                        <div class="row mb-2">
                            <label class="col-lg-2 fw-bold text-muted">@_localizer["FacebookUrl"]</label>
                            <div class="col-lg-8">
                                <span class="fw-bolder fs-6 text-gray-800">@Model.FacebookUrl</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>