@model Ekinci.CMS.Business.Models.Responses.BlogResponses.GetBlogResponse

<div class="flex-column" id="kt_wrapper">
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div class="post d-flex flex-column-fluid" id="kt_post">
            <div id="kt_content_container" class="container-xxl">
                <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
                    <div class="cursor-pointer">
                        <div class="card-header">
                            <h3 class="card-title">BLOG</h3>
                        </div>
                    </div>
                    <div class="card-body p-9">
                        <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">@_localizer["PhotoUrl"]</label>
                            <div class="col-lg-8">
                                <img src="@Model.PhotoUrl" alt="image" width="200" />
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-9">
                        <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">@_localizer["Title"]</label>
                            <div class="col-lg-8">
                                <span class="fw-bolder fs-6 text-gray-800">@Model.Title</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-9">
                        <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">@_localizer["Date"]</label>
                            <div class="col-lg-8">
                                <span class="fw-bolder fs-6 text-gray-800">@Model.BlogDate</span>
                            </div>
                        </div>
                    </div>          
                    <div class="card-body p-9">
                        <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">@_localizer["InstagrmUrl"]</label>
                            <div class="col-lg-8">
                                <span class="fw-bolder fs-6 text-gray-800">@Model.InstagramUrl</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer" style="text-align:end">
                        <h3 class="card-title"></h3>
                        <div class="card-toolbar">
                            <a href="@Url.Action("Edit","Blog")" class="btn btn-sm btn btn-success">
                                <span class="svg-icon svg-icon-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black" />
                                        <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black" />
                                    </svg>
                                </span>
                                @_localizer["Edit"]
                            </a>&nbsp;
                            <a href="@Url.Action("Index","Blog")" class="btn btn-sm btn btn-danger">
                                <span class="svg-icon svg-icon-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black" />
                                    </svg>
                                </span>
                                @_localizer["TurnBack"]
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>