@model Ekinci.CMS.Business.Models.Requests.TechnicalServiceDemandRequests.AssignPersonelTechnicalServiceDemandRequest

<div class="flex-column" id="kt_wrapper">
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div class="post d-flex flex-column-fluid" id="kt_post">
            <div id="kt_content_container" class="container-xxl">
                <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
                    <form asp-action="Edit" enctype="multipart/form-data">
                        <div class="card shadow-sm">
                            <div class="card-header">
                                <h3 class="card-title">@_localizer["TechnicalServiceDemandTitle"]</h3>
                                <div class="card-toolbar">
                                    <input type="submit" class="btn btn-success btn-hover-rotate-end" value="@_localizer["Edit"]">&nbsp;
                                    <a href="@Url.Action("Index","TechnicalServiceDemand")" class="btn btn-danger btn-hover-rotate-start">@_localizer["TurnBack"]</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 mb-5">
                                        <input asp-for="ID" type="hidden" class="form-control" aria-describedby="basic-addon1" />
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    </div>
                                    <div class="col-md-12 mb-5">
                                        <label class="control-label">@_localizer["FullName"]</label>
                                        <div class="input-group form-group mb-5">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa-solid fa-align-justify"></i>
                                            </span>
                                            <input asp-for="FullName" class="form-control" />
                                            <span class="fv-plugins-message-container invalid-feedback" asp-validation-for="FullName"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-5">
                                        <label class="control-label">@_localizer["MobilePhone"]</label>
                                        <div class="input-group form-group mb-5">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa-solid fa-align-justify"></i>
                                            </span>
                                            <input asp-for="MobilePhone" class="form-control" />
                                            <span class="fv-plugins-message-container invalid-feedback" asp-validation-for="MobilePhone"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="flex-column" id="kt_wrapper">
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div class="post d-flex flex-column-fluid" id="kt_post">
            <div id="kt_content_container" class="container-xxl">
                <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
                    <div class="card-body p-9">
                        <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">@_localizer["Title"]</label>
                            <div class="col-lg-8">
                                <span class="fw-bolder fs-6 text-gray-800">@Model.Title</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-9">
                        <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">@_localizer["Description"]</label>
                            <div class="col-lg-8">
                                <span class="fw-bolder fs-6 text-gray-800">@Model.Description</span>
                            </div>
                        </div>
                    </div>

                    <div class="card-body p-9">
                        <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">@_localizer["SiteName"]</label>
                            <div class="col-lg-8">
                                <span class="fw-bolder fs-6 text-gray-800">@Model.SiteName</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-9">
                        <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">@_localizer["ApartmentName"]</label>
                            <div class="col-lg-8">
                                <span class="fw-bolder fs-6 text-gray-800">@Model.ApartmentName</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-9">
                        <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">@_localizer["ApartmentFloor"]</label>
                            <div class="col-lg-8">
                                <span class="fw-bolder fs-6 text-gray-800">@Model.ApartmentFloor</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-9">
                        <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">@_localizer["ContactInform"]</label>
                            <div class="col-lg-8">
                                <span class="fw-bolder fs-6 text-gray-800">@Model.ContactInform</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
